:root{
    /*Colores empresariales*/
    --orange: #f8aa00;
    --fondo: #fffbdc;
    --yellow: #be8500;
    --oscuro: #634e42;

    --verde: #369038;
    --menta: #83b459;

    --quemado: rgb(129, 92, 0);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 30rem;
    height: 39rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--fondo) 16.69%, var(--orange) 100%);
}
header img{
    width: 22rem;
    margin-top: 6rem;
    align-self: center;
}

.header-title-container{
    width: 90%;
    min-width: 280px;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header-title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--blanco);
}

.header-title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 125px);
    top: 37rem;
    display: grid;
    grid-template-columns: 3fr 4rem;
    padding: 1.3rem;
    width: 25rem;
    height: 6rem;
    background-color: var(--fondo);

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--oscuro);
    text-decoration: none;

}

.header-button span{
    width: 3rem;
    height: 3rem;
    place-self: center;
    background-image: url('./assets/icons/dollar-sign1.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

main{
    width: 100%;
    height: auto;
    background-color: var(--fondo);
    min-width: 320px;
}

.info-container{
    width: 100%;
    height: auto;
    padding: 7rem 0.8rem 3rem;
    text-align: center;
}
.info-container-title{
    width: 90%;
    min-width: 238px;
    max-width: 900px;
    margin: 0 auto;
}

.info-container .backgroundimg{
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    background-image: url('./assets/imgs/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info-container-title h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--primary);
}

.info-container-title p{
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--oscuro);
}

.options-title{
    margin: 3rem;
    font-size: 2.1rem;
}

hr{
    width: 78%;
    margin: 0 auto;
}


.card{
    background-color: var(--fondo);
    border-radius: 0.5rem;
    margin: 0 auto;

    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 36rem;
}

.container-img img{
    width: 12rem;
}
.container-img{
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    background-color: var(--yellow);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-header {
    background-color: var(--oscuro);
    color: var(--fondo);
    padding: 10px;
    font-size: 1.1rem;
}

.product-info > p {
    font-size: 1.3rem;
    margin: 15px 0;
    color: var(--oscuro);
}

.product-info .price {
    font-size: large;
    color: var(--orange);
    font-weight: bold;
}

.donate-button {
    background-color: var(--orange);
    color: var(--oscuro);
    padding: 10px;
    width: 50%;
    border: none;
    font-weight: 700;
    margin: 10px 0;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: var(--orange);
}